* {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgb(88, 170, 148);
  color: white;
  font-style: italic;

}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.historia1 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}

.histTxt h2 {
  text-align: left;
  text-decoration: underline double;
}

.histImg {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 85%;
  border-radius: 20px;
  justify-content: right;
  align-items: normal;
  border: solid 2px white;
  overflow: hidden;
}

.histTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.mision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.misionTxt {
  flex: 1;
  justify-content: start;
  align-items: start;
  padding: 20px;
}

.misionTxt h2 {
  text-decoration: underline double;
}

.imgMision {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  border-radius: 20px;
  justify-content: right;
  align-items: normal;
  border: solid 2px white;
  overflow: hidden;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: #468875;
  height: 50px;

}