* {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(136, 191, 136);
  color: white;
  font-style: italic;

}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-align: center;

}

.historia1 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

}

.histTxt h2 {
  text-align: left;
  text-decoration: underline double;
}

.histImg {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 35%;
  border-radius: 20px;
  justify-content: center;
  align-items: normal;
  border: solid 2px white;
  overflow: hidden;
}

.histTxt {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}


.mision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  flex-wrap: wrap;
}

.misionTxt {
  flex: 1;
  justify-content: start;
  align-items: start;
  padding: 20px;
}

.misionTxt h2 {
  text-decoration: underline double;
}

.imgMision {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 55%;
  border-radius: 20px;
  justify-content: right;
  align-items: normal;
  border: solid 2px white;
  overflow: hidden;
}

#navbar {
  padding: 10 px;
  position: sticky;
  top: 0;
  height: 50px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #468875;
}

li {
  float: left;
  background-color: #468875;
}

li a,
.despBtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.desplegable:hover .despBtn {
  background-color: #468875;
}

li.desplegable {
  display: inline-block;
  background-color: #468875;
}

.despContenido {
  display: none;
  position: absolute;
  background-color: #468875;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.despContenido a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.despContenido a:hover {
  background-color: #73bfa9;
}

.desplegable:hover .despContenido {
  display: block;
}

li a {
  background-color: #468875;
}

h1 {

  text-align: center;


}

.barilo_texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 30 px;

  /*agregue*/
  font-size: 25px;

}


.imagenes_barilo {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;


  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.contenedor_barilo {

  width: 90%;
  margin: 0;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.barilo {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  text-align: center;

}

.barilo img {

  width: 100%;
  height: auto;
  border-radius: 8px;

}


.costa10 {

  display: flex;
  flex-direction: column;
  width: 25%;
  height: 25%;
  border-radius: 20px;
  justify-content: center;
  align-items: normal;
  border: solid 2px white;
  overflow: hidden;

}