* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

    color: rgb(15, 90, 15);
    font-style: italic;

}

div h2 {
    text-align: center;
}


body {
    background: linear-gradient(to bottom, #f2fff8, #d8efe6);
    color: #124024;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}




#navbar {
    padding: 10 px;
    position: sticky;
    top: 0;
    height: 50px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #468875;
    display: flex;

}

li {

    background-color: #468875;
}

li a,
.despBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.desplegable:hover .despBtn {
    background-color: #468875;
}

li.desplegable {
    display: inline-block;
    background-color: #468875;
}

.despContenido {
    display: none;
    position: absolute;
    background-color: #468875;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.despContenido a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.despContenido a:hover {
    background-color: #73bfa9;
}

.desplegable:hover .despContenido {
    display: block;
}

li a {
    background-color: #468875;
}

h1 {

    text-align: center;
    font-size: 28px;

}

.historia1 {

    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

}

.histTxt h2 {

    text-align: left;
    text-decoration: underline double;

}


.contenido-desplegable {
    display: none;
    /* OCULTO por defecto */
    padding: 10px;
    border: 1px solid #ccc;


}

.contenido-desplegable.activo {
    display: block;
    font-size: 16px;

}

.contenido-desplegable p {
    font-size: 16px;

}

button.titulo {
    width: 100%;
    background-color: #468875;
    border: 2px solid #4CAF50;
    border-radius: 6px;
    padding: 10px;
    margin: 6px auto;
    color: white;
}


.contenedorLocalidades {

    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

}

.imgLocalidades {

    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    justify-content: center;
    align-items: center
}

.imgLocalidades img {

    width: 78%;
    height: auto;
    display: block;
    max-width: 100%;
    border: 1px solid gray;

}

.txtLocalidades {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;

}

footer div {
    padding: 25px;
}

span {
    font-style: italic;
    font-weight: bold;
    padding: 25px;
}