* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

    color: rgb(136, 191, 136);
    font-style: italic;

}

div h2 {
    text-align: center;
}

#navbar {
    padding: 10 px;
    position: sticky;
    top: 0;
    height: 50px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #468875;
    display: flex;
    /*AGREGUE FLEX ACA */
}

li {
    /* BORRO   float: left;*/
    background-color: #468875;
}

li a,
.despBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.desplegable:hover .despBtn {
    background-color: #468875;
}

li.desplegable {
    display: inline-block;
    background-color: #468875;
}

.despContenido {
    display: none;
    position: absolute;
    background-color: #468875;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.despContenido a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.despContenido a:hover {
    background-color: #73bfa9;
}

.desplegable:hover .despContenido {
    display: block;
}

li a {
    background-color: #468875;
}

.historia1 {

  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

}

.histTxt h2 {

  text-align: left;
  text-decoration: underline double;

}


.contenido-desplegable {
  display: none;
  /* OCULTO por defecto */
  padding: 10px;
  border: 1px solid #ccc;

}

