* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /*background-color: rgb(136, 191, 136);*/
       color: rgb(15, 90, 15);
    font-style: italic;
   
}


body {
  background: linear-gradient(to bottom, #f2fff8, #d8efe6);
  color: #2f3e35;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


#navbar {
    padding: 10 px;
    position: sticky;
    top: 0;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #468875;
}

li {
    float: left;
    background-color: #468875;
}

li a,
.despBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.desplegable:hover .despBtn {
    background-color: #468875;
}

li.desplegable {
    display: inline-block;
    background-color: #468875;
}

.despContenido {
    display: none;
    position: absolute;
    background-color: #468875;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.despContenido a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.despContenido a:hover {
    background-color: #73bfa9;
}

.desplegable:hover .despContenido {
    display: block;
}

li a {
    background-color: #468875;
}

#contenedorForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
   
    width: 600px;
    border: 2px solid rgb(30, 63, 1);
    border-radius: 20px;
    box-shadow: 10px 15px #468875;
    padding: 5px;
    max-width: 100%;
    margin-top: 15px;

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

form label {
    display: block;

}

input,
textarea {
    border: none;
    border-bottom: 1px solid rgb(5, 54, 5);
    background: linear-gradient(to bottom, #f2fff8, #d8efe6);

}




.botones {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background-color: #468875;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;

}

h2 {
    text-align: center;
}

#error,
#error2,
#error3,
#error4 {
    font-size: 10px;
    display: none;
}

.contenedorDatos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px, solid, green;
    border-radius: 30px;
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 20px;

}