* {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(15, 90, 15);
  font-style: italic;

}


body {
  background: linear-gradient(to bottom, #f2fff8, #d8efe6);
  color: #124024;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


div h2 {
  text-align: center;
}

#navbar {
  padding: 10 px;
  position: sticky;
  top: 0;
  height: 50px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #468875;
  display: flex;

}

li {

  background-color: #468875;
}

li a,
.despBtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.desplegable:hover .despBtn {
  background-color: #468875;
}

li.desplegable {
  display: inline-block;
  background-color: #468875;
}

.despContenido {
  display: none;
  position: absolute;
  background-color: #468875;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.despContenido a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.despContenido a:hover {
  background-color: #73bfa9;
}

.desplegable:hover .despContenido {
  display: block;
}

li a {
  background-color: #468875;
}

h1 {
  text-align: center;
  font-size: 28px;
}

.barilo_texto {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  /* padding: 30 px;*/
  font-size: 25px;

}


.imagenes_barilo {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}

.contenedor_barilo {

  width: 90%;
  margin: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.barilo {

  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}

.barilo img {

  width: 100%;
  height: auto;
  border-radius: 8px;

}




.barilo2-imag {
  width: 60%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 20px;
  border-radius: 12px;

}

.textobarilo2 {
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  font-family: Arial, sans-serif;

}


.textobarilo2 ul {

  list-style-type: disc;
  color: black;
  margin-left: 40px;

}

.textobarilo2 li {

  margin-bottom: 5px;

}

/* estilos de bariloche2*/
.oculto {
  display: none;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #e8f5ee;
}


.oculto.visible {
  display: block;
}

.foto-interactiva {
  cursor: pointer;
}


ol li {
  list-style-type: square;
  background-color: #e8f5ee;
}

h3 {
  text-align: center;
}

footer div {
  padding: 25px;
}

span {
  font-style: italic;
  font-weight: bold;
  padding: 25px;
}