* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(15, 90, 15);
    font-style: italic;

}

div h2 {
    text-align: center;
}

#navbar {
    padding: 10 px;
    position: sticky;
    top: 0;
    height: 50px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #468875;
    display: flex;

}

li {

    background-color: #468875;
}

li a,
.despBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.desplegable:hover .despBtn {
    background-color: #468875;
}

li.desplegable {
    display: inline-block;
    background-color: #468875;
}

.despContenido {
    display: none;
    position: absolute;
    background-color: #468875;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.despContenido a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.despContenido a:hover {
    background-color: #73bfa9;
}

.desplegable:hover .despContenido {
    display: block;
}

li a {
    background-color: #468875;
}

/* general */

h1 {

    text-align: center;
    font-size: 28px;
}

div p {
    padding: 25px;
}

#skiando {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: normal;
    border: solid 2px white;
    overflow: hidden;
    margin: auto;
}

.sky {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: normal;
    border: solid 2px white;
    overflow: hidden;
    margin: auto;
}

.listLenas {
    list-style-type: square;
    background-color: white;
    /*background-color: #e8f5ee;*/
}

.modonoche {
    background-color: #070707;
    transition: all 0.6s ease;
}

.modonoche .listLenas {
    background-color: #070707;
    transition: all 0.6s ease;
}


#noche {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #fff;
    color: #060606;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;

}

footer div {
    padding: 25px;
}

span {
    font-style: italic;
    font-weight: bold;
    padding: 25px;
}