* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /*background-color: rgb(136, 191, 136);*/
       color: rgb(15, 90, 15);
    font-style: italic;
}


body {
  background: linear-gradient(to bottom, #f2fff8, #d8efe6);
  color: #2f3e35;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}




#navbar {

    padding: 10 px;
    position: sticky;
    top: 0;
    height: 50px;
    margin-bottom: 20px;
    z-index: 1000;

}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #468875;
    display: flex;

}

li {

    background-color: #468875;
}

li a,
.despBtn {

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover,
.desplegable:hover .despBtn {

    background-color: #468875;

}

li.desplegable {

    display: inline-block;
    background-color: #468875;

}

.despContenido {

    display: none;
    position: absolute;
    background-color: #468875;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 200;

}

.despContenido a {

    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.despContenido a:hover {

    background-color: #73bfa9;

}

.desplegable:hover .despContenido {

    display: block;

}

li a {

    background-color: #468875;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#contenedorImagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: auto;

}

.cont-img1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;


}

.cont-img2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.cruce {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: normal;
    border: solid 2px white;
    overflow: hidden;
    margin: auto;
}

.img-andes {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: normal;
    border: solid 2px white;
    overflow: hidden;
    margin: auto;
}


ol li {
    list-style-type: square;
    background-color: white;
}

#oferta {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 50%;
    border: 2px solid #468875;
}

#oferta button {

    background-color: red;
    color: white;
}